@import "colors.scss";

html {
  height: 100%;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

body {
  background-color: $black;
  height: 100%;
}

html {
  font-size: 12;
  color: black;
}

.canvas-container {
  height: 700px;
  width: 700px;
  position: relative;
}

.modal-background {
  display: flex; 
  align-items: center;
  position: absolute; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 700px; 
  height: 700px; 
  overflow: none; 
  background-color: rgba(0,0,0,0.7); 
}

.game-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.game-right-sidebar {
  width: 200px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.game-right-sidebar-controls {
  height: 350px;
  background-color: blue;
}

.game-right-sidebar-tips {
  height: 350px;
  background-color: yellow;
}


