@import "colors.scss";

.game-left-sidebar {
  width: 100%;
/*   min-width: 250px; */
  height: 100%;
  margin-right: 10px;
  /* box-sizing: border-box; */
  position: relative;
}

.game-highscores {
  height: auto;
  padding: 5px;
  background-color: white;
  font-size: 20px;
  border: 2px solid $pink;
  border-radius: 10px;
  margin-bottom: 7px;
}

.game-left-sidebar h1 {
  font-weight: 500;
  margin-bottom: 10px;
  padding: 10px 0;
  text-align: center;
  background-color: $pink;
  color: $white;
  margin: -5px -5px 10px -5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.game-highscores li {
  padding: 5px 10px;
}

.game-controls {
  height: auto;
  background-color: white;
  border: 2px solid $pink;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
}

.game-controls p {
  padding: 5px 10px;
}
s
.game-controls span {
  font-size: 22px;
  font-weight: 700;
  padding: 0 1.7px;
}

.game-left-link-icons {
  font-size: 40px;
  color: $white;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100%;


}

.game-left-link-icons a:hover {
  color: $pink;
}